<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciel.loadstar.link.repository.FolderMapper" >
  <resultMap id="BaseResultMap" type="com.ciel.loadstar.link.model.Folder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="deep" property="deep" jdbcType="INTEGER" />
    <result column="is_system" property="isSystem" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  
  <select id="queryAll" resultType="com.ciel.loadstar.link.model.Folder">
      select *
      from folder
      where user_id = #{userId}
  </select>

  <select id="queryAllUnderFolder" resultType="com.ciel.loadstar.link.model.Folder">
      select *
      from folder
      where user_id = #{userId}
      and parent_id =  #{folderId}
  </select>

    <select id="queryFolderByCode" resultType="com.ciel.loadstar.link.model.Folder">
      select *
      from folder
      where user_id = #{userId}
      and code =  #{code}
    </select>
</mapper>