<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciel.pocket.link.mapper.LinkMapper" >
  <resultMap id="BaseResultMap" type="com.ciel.pocket.link.model.Link" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="folder_id" property="folderId" jdbcType="BIGINT" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="last_seen" property="lastSeen" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="visited_count" property="visitedCount" jdbcType="INTEGER" />
  </resultMap>

    <insert id="insert" parameterType="Link" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
      INSERT INTO link (create_time, is_delete, update_time, comment, folder_id, icon, last_seen, name, sort_index,title
      ,url, user_id, visited_count )
      values (#{createTime},0, #{updateTime}, #{comment}, #{folderId}, #{icon}, #{lastSeen}, #{name}, #{sortIndex}, #{title}
      ,#{url}, #{userId},#{visitedCount})
    </insert>

  <select id="queryAllUnderTag" resultType="Link">
      SELECT l.*
      FROM link_tag AS lt
      LEFT JOIN link AS l
      ON lt.link_id = l.id
      WHERE l.is_delete = 0
      AND l.user_id = #{userId}
      AND lt.tag_id = #{tagId}
  </select>
    
    <select id="queryAllUnderFolder" resultType="Link">
      SELECT *
      from link
      where is_delete = 0
      and folder_id = #{folderId}
      and user_id = #{userId}
    </select>

    <select id="queryAll" resultType="Link">
        select *
        from link
        where user_id = #{userId}
        and is_delete = 0
    </select>

    <select id="countByUser" resultType="Integer">
      SELECT count(*)
      from link
      where user_id = #{userId}
      and is_delete = 0
  </select>

    <update id="deleteById">
      update link
      set is_delete = 1
      where id = #{linkId}
    </update>

    <update id="updateFolderById">
      update link
      set folder_id = #{folderId}
      where id = #{linkId}
    </update>

    <update id="deleteByFolder">
        update link
        set is_delete = true
        where folder_id = #{folderId}
    </update>
</mapper>