<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciel.pocket.user.repository.ThemeRepository" >
    <resultMap id="BaseResultMap" type="com.ciel.pocket.user.domain.Theme" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="isDelete" property="isDelete" jdbcType="BIT" />
        <result column="listTypeEnum" property="listTypeEnum" jdbcType="VARCHAR" />
        <result column="language" property="language" jdbcType="VARCHAR" />
        <result column="modules" property="modules" jdbcType="BIT" />
        <result column="createTime" property="createTime" jdbcType="DATE" />
        <result column="updateTime" property="updateTime" jdbcType="DATE" />
    </resultMap>
</mapper>