<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciel.loadstar.user.repository.UserRepository" >
    <resultMap id="BaseResultMap" type="com.ciel.loadstar.user.entity.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="isDelete" property="isDelete" jdbcType="BIT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="lastSeen" property="lastSeen" jdbcType="DATE" />
        <result column="createTime" property="createTime" jdbcType="DATE" />
        <result column="updateTime" property="updateTime" jdbcType="DATE" />
    </resultMap>
</mapper>